/*.App {*/
/*    display: flex;*/
/*    flex-flow: row;*/
/*    flex-wrap: wrap;*/
/*    background-image: url("mountains-1412683_1280.png");*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*    background-size: cover;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    padding-top: 10px;*/
/*    padding-left: 10px;*/
/*}*/

/*.App > div {*/
/*    margin-right: 50px;*/
/*}*/
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
.todolist {
    border: 2px solid green;
    border-radius: 5px;
    padding: 10px;
    /*opacity: 0.7;*/
    /*margin: 10px;*/
    /*background-color: cornflowerblue;*/
}

/*.todolist:active {*/
/*    opacity: 1.0;*/
/*}*/

/*.todolist:hover {*/
/*    opacity: 1.0;}*/

.todolist-empty {
    border: 2px solid crimson;
    border-radius: 5px;
    padding: 10px;
    /*opacity: 0.7;*/
    /*margin: 10px;*/
    /*background-color: cornflowerblue;*/
}

/*.todolist-empty:hover {*/
/*    opacity: 1.0;*/
/*}*/

.task {
    font-weight: bold;
}

.task-done {
    font-weight: normal;
    text-decoration: line-through;
}

.btn-active {
    background-color: cornflowerblue;
    color: white;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    margin-right: 5px;
}

.input-error {
    outline: none;
    border: 2px solid red;
}

.btn-inactive {
    color: cornflowerblue;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    margin-right: 5px;
    background-color: transparent;
}

.btn-cross {
    border-radius: 5px;
    border: 1px solid lightslategrey;
    background-color: transparent;
}

.btn-cross:hover {
    border: 1px solid black;
}

.btn-filter-container {
    display: flex;
    gap: 5px;
}

.input {

}